[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/vk-bootstrap"]
	path = extern/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "extern/fastgltf"]
	path = extern/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "extern/JoltPhysics"]
	path = extern/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "extern/half"]
	path = extern/half
	url = https://github.com/melowntech/half.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
